/* global styling */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    /* Primary */
    --Purple-50: hsl(260, 100%, 95%);
    --Purple-300: hsl(264, 82%, 80%);
    --Purple-500: hsl(263, 55%, 52%);
    /* Neutral */
    --White: hsl(0, 0%, 100%);
    --Grey-100: hsl(214, 17%, 92%);
    --Grey-200: hsl(0, 0%, 81%);
    --Grey-400: hsl(224, 10%, 45%);
    --Grey-500: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);
    /* font-family */
    --Barlow-Semi-Cond: "Barlow Semi Condensed", sans-serif;
    /* font-size */
    --body-font-size: 13px;
    --post-header: 18px;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
}

body {
    font-family: var(--Barlow-Semi-Cond);
    font-size: var(--body-font-size);
    font-weight: var(--font-weight-400);
    background-color: lightgrey;
}

.post-header {
    font-size: var(--post-header);
    font-weight: var(--font-weight-500);
}

.container {
    width: 95%;
    margin: auto;
}

.container .grid-layout {
    width: 85%;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-areas: "post-1 post-1 post-2 post-3" "post-4 post-5 post-5 post-3";
    grid-template-columns: 240px 240px 240px 240px;
    grid-template-rows: 1fr 1fr;
    gap: 10px 25px;
}

.post-1 {
    grid-area: post-1;
    background-color: var(--Purple-500);
    color: var(--White);
}

.post-2 {
    grid-area: post-2;
    background-color: var(--Grey-500);
    color: var(--White);
}

.post-3 {
    grid-area: post-3;
    background-color: var(--White);
    color: var(--Grey-500);
}

.post-4 {
    grid-area: post-4;
    background-color: var(--White);
    color: var(--Grey-500);
}

.post-5 {
    grid-area: post-5;
    background-color: var(--Dark-blue);
    color: var(--White);
}

.grid-child {
    margin-top: 20px;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px 20px;
    border-radius: 8px;
    gap: 10px;
}

.user-profile {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    img {
        width: 100%;
        border-radius: 50%;
        border: 2px solid white;
    }
    .user-img {
        width: 40px;
        height: 40px;
    }
}

.user-details {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

@media (max-width: 768px) {
    .container .grid-layout {
        grid-template-areas: "post-1" "post-2" "post-3" "post-4" "post-5";
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        width: 85%;
        height: auto;
        gap: 10px;
    }
}